* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 20px 50px;
  max-width: 1920px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.search {
  border: 1px solid #b5bdc7;
  border-radius: 7px;
  width: 350px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-term {
  width: 300px;
  border: none;
  font-weight: 200;
}

.search-button {
  border: 1px solid #222426;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  position: relative;
  left: 4px;
  bottom: 3px;
}

.nav-container {
  display: flex;
  position: relative;
  gap: 70px;
  right: 5px;
  bottom: 5px;
}

a {
  text-decoration: none;
  font-weight: 500;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#job-and-sign {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  bottom: 5px;
}

#job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #490df4;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 1px;
}

#sign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #fff;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #222426;
}

.img-sign {
  position: relative;
  left: 20px;
  border: 1px solid black;
  border-radius: 7px;
  width: 26px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222426;
  height: 78px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.spec-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  font-weight: 200;
}

.more-filters {
  display: flex;
  gap: 100px;
}

#more {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 87px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  gap: 30px;
  position: relative;
  right: 50px;
}

.span-more {
  position: relative;
  left: 15px;
  font-weight: 200;
  font-size: 15px;
}

.img-filters {
  border: 1px solid #fff;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seniority {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}

.span-seniority {
  font-weight: 200;
  color: #b5bdc7;
}

.img-seniority {
  border: 1px solid #fff;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15px;
}

.technology {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 0 20px 0 20px;
}

.technology-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.technology-image {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.span-technology {
  font-weight: 200;
}

#more-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#more-tech-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #222426;
  border-radius: 10px;
  color: #222426;
  width: 100px;
}

#more-tech-span {
  font-size: 15px;
  font-weight: 200;
}

.more-tech-img {
  border: 1px solid #222426;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
}

.tech-buttons-end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #222426;
  border-radius: 10px;
  color: #222426;
  font-weight: 200;
}

#remote {
  display: flex;
  position: relative;
  left: 70px;
}

#filters-and-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#offers-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
}

#sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sort-span {
  position: relative;
  right: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a:last-of-type {
  font-weight: 200;
  color: #490df4;
  text-decoration: underline #490df4;
}

.sort-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

.divider {
  height: 1px;
  background-color: #eceef7;
  width: 100%;
  position: absolute;
  top: 65px;
  right: 1px;
}

#ruby {
  display: flex;
  flex-direction: column;
  border: 1px solid #222426;
  border-radius: 10px;
}

.top-info {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  left: 186px;
  top: 363px;
  gap: 40px;
}

.bottom-info-ruby {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  left: 186px;
  top: 412px;
  gap: 20px;
  font-size: 12px;
  font-weight: 200;
}

.mask-logo {
  display: flex;
  position: relative;
  padding: 30px;
  height: 65px;
}

.mask-logo-icon {
  height: 80px;
  bottom: 6px;
  position: relative;
}

.price {
  position: relative;
  left: 268px;
  font-size: 18px;
  color: #490df4;
}

.heart-logo {
  position: relative;
  left: 272px;
}

.quick-apply {
  position: relative;
  left: 740px;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #fff;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #222426;
}

.offer {
  font-size: 18px;
}

.remote-icon {
  scale: 1.2;
}

.extra-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 500px;
  gap: 40px;
}

.mid-bold {
  color: #490df4;
}
