* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 20px 50px 20px 50px;
  max-width: 1920px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.search {
  border: 1px solid #b5bdc7;
  border-radius: 7px;
  width: 350px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-term {
  width: 300px;
  border: none;
  font-weight: 200;
}

.search-button {
  border: 1px solid #222426;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  position: relative;
  left: 4px;
  bottom: 3px;
}

.nav-container {
  display: flex;
  position: relative;
  gap: 70px;
  right: 5px;
  bottom: 5px;
}

a {
  text-decoration: none;
  font-weight: 500;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#policy-a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

#job-and-sign {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  bottom: 5px;
}

#job {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #490df4;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 1px;
}

#sign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #fff;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #222426;
}

.img-sign {
  position: relative;
  left: 20px;
  border: 1px solid black;
  border-radius: 7px;
  width: 26px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222426;
  height: 78px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.fancy-background-frontend {
  position: absolute;
  background: #31e8ff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 95px;
  top: 130px;
  z-index: 0;
}

.fancy-background-architekt {
  position: absolute;
  background: #00ff93;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 328px;
  top: 130px;
  z-index: 0;
}

.fancy-background-devops {
  position: absolute;
  background: #8415ff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 560px;
  top: 130px;
  z-index: 0;
}

.fancy-background-fullstack {
  position: absolute;
  background: #fd4dc7;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 794px;
  top: 130px;
  z-index: 0;
}

.fancy-background-analityk {
  position: absolute;
  background: #ff8227;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 1028px;
  top: 130px;
  z-index: 0;
}

.fancy-background-tester {
  position: absolute;
  background: #fdff00;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 22px;
  height: 38px;
  left: 1261px;
  top: 130px;
  z-index: 0;
}

.spec-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  font-weight: 200;
  z-index: 1;
}

.more-filters {
  display: flex;
  gap: 100px;
}

#more {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 87px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  gap: 30px;
  position: relative;
  right: 50px;
}

.span-more {
  position: relative;
  left: 15px;
  font-weight: 200;
  font-size: 15px;
}

.img-filters {
  border: 1px solid #fff;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seniority {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #fff;
}

.span-seniority {
  font-weight: 200;
  color: #b5bdc7;
}

.img-seniority {
  border: 1px solid #fff;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 15px;
}

.technology {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 0 20px 0 20px;
}

.technology-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.technology-image {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.span-technology {
  font-weight: 200;
}

#more-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#more-tech-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #222426;
  border-radius: 10px;
  color: #222426;
  width: 100px;
}

#more-tech-span {
  font-size: 15px;
  font-weight: 200;
}

.more-tech-img {
  border: 1px solid #222426;
  border-radius: 7px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
}

.tech-buttons-end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #222426;
  border-radius: 10px;
  color: #222426;
  font-weight: 200;
}

#remote {
  display: flex;
  position: relative;
  left: 70px;
}

#filters-and-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#offers-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
}

#sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sort-span {
  position: relative;
  right: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a:last-of-type {
  font-weight: 200;
  color: #490df4;
  text-decoration: underline #490df4;
}

.sort-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

.divider {
  height: 1px;
  background-color: #eceef7;
  width: 100%;
  position: absolute;
  top: 65px;
  right: 1px;
}

.offers {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
}

.tech-offer-containers {
  position: relative;
  border: 1px solid #222426;
  border-radius: 10px;
  height: 94px;
  box-shadow: 0px 2px 8px rgba(22, 32, 75, 0.19);
}

.mask-logo {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 10px;
  left: 30px;
}

.top-info {
  position: absolute;
  display: flex;
  align-items: center;
  left: 170px;
  top: 15px;
  gap: 15px;
  width: 89%;
}

.price {
  position: absolute;
  left: 1140px;
  color: #490df4;
  font-weight: 700;
}

.heart-logo {
  position: absolute;
  left: 1400px;
}

.quick-apply {
  position: absolute;
  left: 1480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 38px;
  background-color: #fff;
  border: 2px solid #222426;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #222426;
  top: 10px;
}

.bottom-info {
  position: absolute;
  display: flex;
  align-items: center;
  left: 170px;
  top: 50px;
  gap: 20px;
}

.extra-info {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 1207px;
}

.cool-logo2 {
  position: relative;
  top: 2px;
}

.mid-bold {
  color: #490df4;
}

/*vertical dividers row#1, row#2, row#3, row#4*/

.vlr1 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 95px;
}

.vlr12 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 245px;
}

.vlr13 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 295px;
}

.vlr2 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 95px;
}

.vlr22 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 250px;
}

.vlr23 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 300px;
}

.vlr3 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 95px;
}

.vlr32 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 245px;
}

.vlr33 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 295px;
}

.vlr4 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 95px;
}

.vlr42 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 235px;
}

.vlr43 {
  position: absolute;
  width: 0px;
  height: 15px;
  border: 1px solid #b5bdc7;
  left: 285px;
}

div span {
  font-weight: 200;
}
